* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#menu {
    transition: 0.6s;
}

/*  
www.youtube.com/c/pythonlife
www.youtube.com/c/riadhcoding
www.youtube.com/c/pythonblack 
*/
.sidemenu{
    position: fixed;
    top:0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: rgb(62,59,221);
    z-index: 1;
    padding-top: 100px;
    overflow: hidden;
    transition: all 0.3s;
}

.sidemenu a {
    padding: 8px;
    font-size: 30px;
    color: black;
    display: block;
}
.sidemenu a:hover{
    transition: 0.2s;
    color: white;
}

/*  
www.youtube.com/c/pythonlife
www.youtube.com/c/riadhcoding
www.youtube.com/c/pythonblack 
*/
.sidemenu .closebtn{
    color: white;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 32px;
}
#mainbox{
    width: 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 8px;
    color: rgb(131,131,131);
    font-size: 40px;
    padding: 4px;
}

/*  
www.youtube.com/c/pythonlife
www.youtube.com/c/riadhcoding
www.youtube.com/c/pythonblack 
*/
#active {
    color: white;
    background-color: black;
}


.player{
    width: 5px;
}