*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
   background-color: rgb(81, 0, 173);
   padding: 0;
    margin: 0;

}

.contanir{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background-color: rgb(255, 255, 255);
    padding: 10px 0 10px 0;
    width: 100%;
    
    
}

header .nav{
    direction: rtl;
    display: flex;
    justify-content: center;
    padding: 10px;

    
    
    
    

}

header .nav a{
    text-decoration: none;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;


    
    
}



  .player{
   padding-top: 50px;
  }

  @media screen and (max-width: 1049px) {
   body {
      background-color: rgb(81, 0, 173);
     
   }
   header .nav{
      display: none;
   }
   header{
   }
   header .khas a{
      display: none;   }
 }


 
 /* On screens that are 600px or less, set the background color to olive */
 @media screen and (max-width: 600px) {
   body {
     background-color: rgb(81, 0, 173);
   }

   header .nav{
      display: none;
   }

   header{
   }
   header .khas a{
      display: none;   
    }

    header .khastow a{
      display: none;
    }

    .adpc{
      display: none;
    }
 }
 
 
 @media screen and (min-width: 600px) {

  .tow{
    display: none;
    
  }

  header{
  }


 }

 
 
 .listall{


 }
 .listall .list a{
  margin: 50px;
  display: flex;
  justify-content: center;
  
 }
 .listall .list a img{
  height: auto;
  width: 150px;
  margin: 20px;
}
  
header .khas a{
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
margin-left: 160px;
margin-right: 120px;
padding-left: 30px;

}

header .khastow a{
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

}

.adpop{
display: flex;
justify-content: center;
padding-top: 80px;
}

.adpc{
  padding-left: 100x;
  padding-top: 50px;

}



 
